<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uni.tighearnan.routepicker">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.SignInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".JourneyPlanner.JourneyPlannerActivity"
            android:label="@string/activity_title_journey_planner"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".JourneyDetails.JourneyDetailsActivity"
            android:label="@string/activity_title_journey_details"
            android:launchMode="singleTask"
            android:parentActivityName=".JourneyPlanner.JourneyPlannerActivity">
        </activity>
        <activity
            android:name=".Payment.PaymentActivity"
            android:label="@string/activity_title_confirm_and_pay"
            android:launchMode="singleTask"
            android:parentActivityName=".JourneyDetails.JourneyDetailsActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZm6iFDhF3zM0wbimYqTkBnUK4d8CO9Lk"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".Ticket.TicketActivity"
            android:label="@string/activity_title_ticket"
            android:launchMode="singleTask"
            android:parentActivityName=".JourneyPlanner.JourneyPlannerActivity">
        </activity>
        <activity android:name=".PurchasedTickets.PurchasedTicketsActivity">
        </activity>
    </application>

</manifest>